@import 'reset';
@import 'themes';

:root {
    --wrapper-width: 1200px;
    --body-background: yellow;
    --toolbar-background: red;
    --toolbar-border: green;
    --editor-text: black;
    --editor-caret: blue;
    --scrollbar-background: pink;
    --scrollbar-handle: purple;
}

body, textarea, input { 
    font-family: 'Fira Code', monospace; 
} 

@supports (font-variation-settings: normal) {
    body, textarea, input { 
        font-family: 'Fira Code VF', monospace; 
    }
}

main {
    height: calc(100dvh - 40px);
    background: var(--body-background);

    textarea#editor {
        width: 100%;
        max-width: var(--wrapper-width);
        margin: auto;
        display: block;
        height: 100%;
        border: none;
        background: transparent;
        resize: none;
        font-size: 1rem;
        line-height: 1.5;
        padding: clamp(1.5rem, 4vh, 3rem);
        color: var(--editor-text);

        &:focus {
            outline: none;
        }
    }
}

aside#toolbar {
    height: 40px;
    background: var(--toolbar-background);
    border-top: solid 1px var(--toolbar-border);
} 